<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>See Appointments</title>
			<meta charset="UTF-8">
		</head>
		<body>
		    <h1 th:text="'Patient ID: ' + ${patientId}"></h1>
		    <h1 th:text="'appoiments ID: ' + ${id}"></h1>
		    
		    <table border="1" class="table table-striped table-responsive-md">
	 			<thead>
	 				<tr>
	 					<th> ID </th>
	 					<th> Start Time </th>
						<th> Doctor </th>
	 					<th> Treatments </th>
	 					<th> Actions </th>
	 				</tr>
	 			</thead>
			    <tbody>
	 				<tr th:each="appointment : ${ListAppointments}">
	 					<td th:text="${appointment.appointment_id}"></td>
	 					<td th:text="${appointment.start_time}"></td>
	 					<td th:text="${appointment.doctor.name}"></td>
	 					<td th:text="${appointment.treatments}"></td>
	 					<td>
	 						<a th:href="@{/deleteAppointment/{id}/{patientId}(id=${appointment.appointment_id}, patientId=${patientId})}">Delete</a>	
	 					</td>
	 				</tr>
	 			</tbody>
	 		</table>
		</body>
</html>
