<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Medical Clinic</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="/css/index.css">
		</head>
		<body>
			<!-- Os botões -->
			<button><a th:href="@{/goToLoginDoctor}">Login Doctor</a></button>
			<button><a th:href="@{/goToLoginPatient}">Login Patient</a></button>
			<button><a th:href="@{/goToRegisterDoctor}">Register Doctor</a></button>
			<button><a th:href="@{/goToRegisterPatient}">Register Patient</a></button>
		</body>
</html>