<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Number of Appointments per Doctor</title>
			<meta charset="UTF-8">
			<link rel="stylesheet" type="text/css" href="/css/tables.css">
		</head>
		<body>
			<h1>Number of Appointments per Doctor</h1>
    		<table>
		        <tr>
		            <th>Doctor Name</th>
		            <th>Appointment Counts</th>
		        </tr>
		        <tr th:each="doctor, count : ${doctors}">
		            <td th:text="${doctor.name}"></td>
		            <td th:text="${appointmentCounts[count.index]}"></td>
		        </tr>
		    </table>
		</body>
</html>