<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>See Appointments</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1 th:text="'Appointment ID: ' + ${appointmentid}"></h1>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>ID treatment</th>
                <th>Description</th>
                <th>Cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="treatment : ${Listtreatments}">
                <td th:text="${treatment.treatment_id}"></td>
                <td th:text="${treatment.description}"></td>
                <td th:text="${treatment.cost}"></td>
                <td>
                    <a th:href="@{/seetreatments/{id}(id=${appointmentid})}">See Treatments</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button><a th:href="@{/goToRegisterPatient/{id}(id=${appointmentid})}">Register treatment</a></button>
</body>
</html>
