<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
		<head>
			<title>Stats Patient</title>
			<meta charset="UTF-8">
		</head>
		<body>
    		<h1 th:text="'Patient ID: ' + ${patientId}"></h1>
    		<table>
		        <tr>
		            <th>Doctor Name</th>
		            <th>Appointment Counts</th>
		        </tr>
		        <tr th:each="doctor, count : ${doctors}">
		            <td th:text="${doctor.name}"></td>
		            <td th:text="${appointmentCounts[count.index]}"></td>
		        </tr>
		    </table>
		</body>
</html>